body{                                 /* background goes in body or can be its own class */
  background: #C9B7AD;          
}

h1,header{
  font-family: "Amatic SC", cursive;}       /*Google Font*/

h2{
 border: 3px solid #668284;
  padding: 10px;
  background-color: #B9D7D9;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h3{
 font-family: 'Josefin Slab', serif;"; 
}

p,ul{
  font-family: 'Josefin Slab', serif;";
}
 
img{
  border: 20px solid black;          
  width: 15px;
  height: 200px;
  width: 15px;
  object-fit: contain         /* put in object-fit:contain to mantain aspect ratio of image in diff. browsers/devices */
 }  
  

header{
  background-color:#C9B7AD;;
  color: black;
  height: 100px;
  font-size: 20px;
}
  
 
.google-font {
font-family: 'Abril Fatface', serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

a {
  font-family: 'Josefin Slab', serif;"
  font-size: 20px;
}


a:link    { color:black;  }
a:visited { color: #475B63;}
a:hover   { color:#416788; }
a:active  { color: #F4AFB4  }

"font-family: 'Amatic SC', cursive;                   /*Google Fonts*/
font-family: 'Josefin Slab', serif;"
