
body{
  background-color: beige;
}
h1,header{
  font-family: "Amatic SC", cursive;}

h2{
 border: 3px solid #668284;
  padding: 10px;
  background-color: #B9D7D9;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
p,ul{
  font-family: 'Josefin Slab', serif;";
}
 img{
   border: 20px solid black;
  height:793;
  width: 276 px;
 
 }  
  

header{
  background-color: black;
  color: #B6C8CE;
  height: 100px;
  font-size: 20px;
}
  
 
.google-font {
font-family: 'Abril Fatface', serif;
}

img{
  height: 200px;
  width: 15px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
a {
  font-family: 'Josefin Slab', serif;"
  font-size: 20px;
}

a:link    { color: #B8BAC8;  }
a:visited { color: #475B63;   }
a:hover   { color:#416788; }
a:active  { color: white;  }

"font-family: 'Amatic SC', cursive;
font-family: 'Josefin Slab', serif;"